<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Rút gọn link</title>

        <link rel="icon" href="/image/logo2.png" />

        <link rel="stylesheet" href="/css/shortenIDStyle.css" />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />

        <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6888941403766633"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>

        <main class="main">
            <div class="ads">
                <script
                    async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6888941403766633"
                    crossorigin="anonymous"
                ></script>
                <!-- ads-doc2 -->
                <ins
                    class="adsbygoogle"
                    style="display: block"
                    data-ad-client="ca-pub-6888941403766633"
                    data-ad-slot="5187843968"
                    data-ad-format="auto"
                    data-full-width-responsive="true"
                ></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="view-shorten">
                <div class="ads-2">
                    <script
                        async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6888941403766633"
                        crossorigin="anonymous"
                    ></script>
                    <!-- ads1 -->
                    <ins
                        class="adsbygoogle"
                        style="display: block"
                        data-ad-client="ca-pub-6888941403766633"
                        data-ad-slot="8993409370"
                        data-ad-format="auto"
                        data-full-width-responsive="true"
                    ></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="get-link">
                    <p>Liên kết của bạn sẽ sẵn sàng trong vài giây nữa</p>
                    <div class="count-down">
                        <h1 id="number-countdown">8 giây</h1>
                    </div>
                    <input
                        type="button"
                        id="btn-getlink"
                        class="btn btn-primary block"
                        value="Get Link"
                    />
                </div>
                <div class="ads-2">
                    <script
                        async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6888941403766633"
                        crossorigin="anonymous"
                    ></script>
                    <!-- ads2 -->
                    <ins
                        class="adsbygoogle"
                        style="display: block"
                        data-ad-client="ca-pub-6888941403766633"
                        data-ad-slot="8309106996"
                        data-ad-format="auto"
                        data-full-width-responsive="true"
                    ></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div class="ads">
                <script
                    async
                    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6888941403766633"
                    crossorigin="anonymous"
                ></script>
                <!-- ads-doc1 -->
                <ins
                    class="adsbygoogle"
                    style="display: block"
                    data-ad-client="ca-pub-6888941403766633"
                    data-ad-slot="9400736939"
                    data-ad-format="auto"
                    data-full-width-responsive="true"
                ></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io();
            const shortenID = '<%- id %>';
            const countdown = document.getElementById('number-countdown');
            const btnGetLink = document.getElementById('btn-getlink');

            let count = 8;

            socket.emit('shorten', shortenID);

            countDownTime();

            function countDownTime() {
                if (count >= 0) {
                    countdown.innerText = count + ' giây';
                    count -= 1;
                    setTimeout(countDownTime, 1000);
                }
            }

            // listen event responce server
            socket.on('shorten-status', (data) => {
                if (data != 400) {
                    btnGetLink.classList.remove('btn-primary', 'block');
                    btnGetLink.classList.add('btn-success');

                    //redirect after event click button
                    btnGetLink.addEventListener('click', () => {
                        window.location.replace(data);
                    });
                } else {
                    alert('Liên kết không tồn tại hoặc đã bị xóa !!!');
                }
            });
        </script>

        <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
