<footer>
    <div class="footer">
        <div class="footer-link">
            <div class="follow-me">
                <h5>Follow me</h5>
                <ul>
                    <li>
                        <a href="/shorten/61ffde1b4999c139c2cde4d3">Facebook</a>
                    </li>
                    <li>
                        <a href="/shorten/61ffde1b4999c139c2cde4d3">Github</a>
                    </li>
                    <li>
                        <a href="/shorten/61ffde1b4999c139c2cde4d3">Youtube</a>
                    </li>
                    <li>
                        <a href="/shorten/61ffde1b4999c139c2cde4d3"
                            >Instagram</a
                        >
                    </li>
                </ul>
            </div>

            <div class="other-service">
                <h5>Một số ứng dụng khác</h5>
                <ul>
                    <li>Đang cập nhật ....</li>
                </ul>
            </div>

            <div class="contact-me">
                <h5>Liên hệ tôi</h5>
                <ul>
                    <li>Email : nguyenson.66pt@gmail.com</li>
                    <li>Phone : 0989706008</li>
                </ul>
            </div>
        </div>

        <p>Trang web code bởi thằng mới tập code :D</p>
    </div>
</footer>
